@use './variables';

@if (variables.$dot-nav) {
  .#{variables.$namespace}-nav {
    >ol {
      li {
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        background-color: transparent;
        border-radius: 5px;
        overflow: hidden;
        text-indent: -999em;
        border: 2px solid variables.$dot-color;
        transition: color .2s, background-color .2s;
        cursor: pointer;

        &.unslider-active {
          background: variables.$dot-color;
          cursor: default;
        }
      }
    }
  }
}
