@use './variables' as *;

@if ($dot-nav) {
  .#{$namespace}-nav {
    >ol {
      li {
        width: 6px;
        height: 6px;
        margin: 0 4px;
        background: transparent;
        border-radius: 5px;
        overflow: hidden;
        text-indent: -999em;
        border: 2px solid $dot-color;
        transition: color .2s, background .2s;
        cursor: pointer;

        &.unslider-active {
          background: $dot-color;
          cursor: default;
        }
      }
    }
  }
}
